body {
  color: #00a11f;
  background-color: #dbffe5;
  font-family: 'Anonymous Pro', monospace;
}

a {
  color: #124822
}

a:hover {
  opacity: 0.6;
}

img{
  width:100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

li {
  text-align: left; 
  width: fit-content; 
}